# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# System-specific
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.env
.venv/
env/
venv/
*.sqlite3

# Vite / Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.vite/

# Tensorflow / JAX heavy files
tfenv310/

# VSCode / IDE
.vscode/
!.vscode/extensions.json
.idea/
